/******* RESET *******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* COMMONS *******/
body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 60%;
    margin: auto;
}

/******* HEADER *******/
header {
    height: 80px;
    background-color: #2e3a46;
}

/* logo header */
.img_logo {
    height: 100%;
    padding: 10px;
}

img {
    height: 100%;
}

/******* MAIN *******/

main {
    height: calc(100vh - 80px);
    text-align: center;
    background-color: #1e2d3b;
    padding: 10px;
    overflow: auto;
}

select {
    width: 100px;
    font-weight: bold;
    color: white;
    background-color: #2e3a46;
    border: none;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
}

/* riga contenitore dischi */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* box singolo disco */
.box {
    width: calc(100% / 5 - 40px);
    text-align: center;
    background-color: #2e3a46;
    margin: 10px 20px;
    padding: 20px;
}

/* immagine disco */
.box_img img{
    width: 100%;
}

/* titolo disco */
.box_album {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: 10px 0;
}

/* nome autore e data rilascio del disco */
.box_info{
    font-size: .9rem;
    color: #72685f;
    margin: 10px 0;
}